.flex-container{
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-content: center;
    align-content: center;
    width: 330px;
    height: 240px;
    background-color: Silver;
}

div div{
	background-color: DeepSkyBlue;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.two{
	-webkit-order: -1;
    order: -1;
}