body{
	font-family: "Aurora condensed";
	background-color: #7f8c8d;
}

p{
	background-color: #2980b9;
	padding:20px;
	min-height: 100px;
}

.article-one {
	background-color: #2980b9;
	padding:20px;
	min-height: 100px;
}

.article-two {
	background-color: #2980b9;
	padding:20px;
	min-height: 100px;
}



article{
	/*padding:20px;*/
	min-height: 470px;
}

.nav-bar{
	background-color: #27ae60;
	padding:45px;
}

.nav-boxes{
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	 -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 46px;
    text-align: center;
}

header{
	background-color: #f1c40f;
	padding:20px;
	margin:20px 10px 20px 10px;
}

.circles{
	min-height:200px;
	min-width:200px;
	background-color: #ecf0f1;
	margin-top:20px;
	border-radius: 50%;
}